{% set cache_flush = conf.cache_flush %}
{% set root = conf.root_path %}
{% set assets = conf.static_path %}
{% set is_mobile = conf.is_mobile %}
{% set autogen_path = assets + '/autogen/' %}
<!DOCTYPE html>
<html>
<head>
   {% include "includes.html" %}

   <script src='{{autogen_path}}/index.js{{cache_flush}}'></script>
   <script src='{{autogen_path}}/index.css{{cache_flush}}'></script>

</head>
<body>
   {% include "header.html" %}

   <div id='surveyMountPoint'></div>

   <script>
      initSurveyViewer();
   </script>

   {% include "footer.html" %}

</body>
</html>
